@media only screen and (max-width: 768px) {
  h1 { font-size: 1.75em; }

  .card {
    width: 80%;
    height: 300px;
  }

  .disclaimer {
    width: 75%;
  }

  .footer__btn, .footer__logo, #footer__explore {
    display: none;
  }

  .footer__column {
    margin: 30px 30px;
  }

  .header {
    height: 75px;
  }

  .hero {
    height: auto;
  }

  .hero__img {
    width: 100%;
    /* display: none; */
  }

  .hero__textbox {
    width: 100%;
    float: none;
    padding: 25px;
    text-align: center;
    height: auto;
    background-color: inherit;
  }

  .info {
    margin: 50px 50px;
  }

  .navbar__links {
    display: none;
  }

  .navbar__logo {
    padding: 10px;
    width: 220px;
  }

  .navbar__menu {
    display: inline-block;
    float: right;
  }

  .navbar__btn {
    cursor: pointer;
  }

  .seperator {
    padding: 25px;
    border-bottom: 2px solid #b6e2ff;
  }

  .seperator__title {
    padding: 0;
    border: none;
    background-color: inherit;
  }
}
