/* Colors
#111111
#1c1c1c
#383838
#ffffff
#b6e2ff
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

body {
  background-color: #1c1c1c;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", serif;
  font-weight: 400;
  text-transform: uppercase;
}

h1 {
  font-size: 2em;
  letter-spacing: 0.5em;
}

h2 {
  font-size: 1.5em;
  letter-spacing: 0.5em;
}

h3 {
  font-size: 1em;
  letter-spacing: 0.25em;
}

.header {
  height: 150px;
  position: relative;
  width: 100%;
}

.header__logo {
  height: 75%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

footer {
  background-color: #111111;
  display: flex;
  height: 300px;
  position: relative;
  width: 100%;
}

.footer__links {
  margin: 50px 50px;
}

.footer__links h3 {
  color: #b6e2ff;
}

.footer__links li {
  opacity: 0.2;
  transition: 0.2s opacity;
}

.footer__links li::before {
  content: "|";
  margin-right: 0.5em;
}

.footer__links li:hover {
  opacity: 0.6;
}

li {
  list-style: none;
}

section {
  margin: 50px 0;
}

.navbar {
  background-color: #111111;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar__logo {
  display: inline-block;
  background-color: #b6e2ff;
  padding: 21px;
  text-align: center;
  width: 300px;
  color: #111111;
}

.navbar__links{
  display: inline-block;
  float: right;
  padding: 25px;
}

.navbar__link {
  display: inline-block;
  list-style: none;
  margin: 0 25px;
}

.navbar__link--dropdown {
  position: relative;
}

.navbar__dropdown {
  display: none;
  position: absolute;
  left: -25px;
  background-color: #111111;
  border-bottom: solid 2px #b6e2ff;
}

.navbar__dropdown-link {
  margin: 25px;
}

.navbar__link--dropdown:hover .navbar__dropdown {
  display: block;
}

.navbar__link--on-hover {
  transition: 0.2s;
}

.navbar__link--on-hover:hover {
  color: #b6e3ff;
}

.hero {
  height: 60vh;
  margin: 25px 0;
  width: 100%;
}

.hero div {
  background-color: #111111;
  float: left;
  height: 100%;
  padding: 50px;
  width: 45%;
}

.hero img {
  height: 100%;
  object-fit: cover;
  width: 55%;
}

.hero p {
  margin-top: 25px;
}

.seperator {
  background-color: #111111;
  text-align: center;
}

.title {
  background-color: #1c1c1c;
  border-left: solid 5px #b6e2ff;
  border-right: solid 5px #b6e2ff;
  display: inline;
  padding-left: 35px;
  padding-right: 25px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

.card {
  border: solid 2px #111111;
  height: 500px;
  width: 20%;
}

.card__name {
  background-color: #111111;
  display: block;
  height: 100%;
  opacity: 0;
  position: relative;
  text-align: center;
  transition: 0.2s opacity;
}

.card__name h1 {
  display: inline;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.card:hover .card__name {
  opacity: 0.9;
}

.btn-backtotop {
  border: solid 2px #b6e2ff;
  bottom: 25px;
  color: #b6e2ff;
  display: block;
  left: 50%;
  padding: 5px 20px;
  position: absolute;
  transform: translate(-50%, 0);
  transition: 0.2s;
}

.btn-backtotop:hover {
  background-color: #b6e2ff;
  color: #111111;
}
